*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html, body{
  height: 100%;
  width: 100%;
}

body{
  overflow: hidden;
}


main{
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


button{
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(76, 134, 234);
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

button:active{
  transform: scale(0.95);
}

