*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.card{
  height: 400px;
  width: 300px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.card h2{
  font-size:35px;
   margin: 10px;
}
.card h5{
  font-size: 40px;
  color: red;
}

.card button{
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(2, 201, 2);
}