*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}




main{
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.card{
  height: 450px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  padding: 30px; 
}

.card p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.card p span{
  font-size: 40px;
  font-weight: 700;
  color: green;
}

.outer{
  height: 20px;
  width: 100%;
  background-color: rgb(206, 203, 203);
  border-radius: 50px;
}

.inner{
  height: 100%;
  width: 0%;
  border-radius: 50px;
  background-color: green;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2{
  font-size: 60px;
  font-family: monospace;
}


.bottom button{
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

button:active{
  transform: scale(0.95);
}

