*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 480px;
  width: 300px;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
}
#fullscreen{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center;
}
.storiyan{
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.storiyan::-webkit-scrollbar{
  display: none;
}
.story{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 2px solid red;
  margin-right: 16px;
}
.story img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}