*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html, body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cursor{
  height: 40px;
  width:40px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all ease 0.05s;
}
h1{
  font-size: 15vw;
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
}