*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}




main{
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.card{
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  overflow: hidden;
}

.img img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 25px;
}
.img i{
  font-size: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(0) rotate(-60deg);
  color: transparent;
  background-image: url(https://images.wallpapersden.com/image/download/instagram-gradient_a2pmbm2UmZqaraWkpJRqZmdlrWdtbWU.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all ease 0.5s;
}

.card h2{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}
