*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html, body{
  height: 100%;
  width: 100%;
}
.main{
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}
.elem{
  height: 10rem;
  width: 100%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.elem h1{
  font-size: 9vw;
  position: relative;
  z-index: 9;
  mix-blend-mode:difference;
}

.elem img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  opacity: 0;
  position: absolute;
  transform: translate(-50%,-50%);

}